USE [master]
GO
/****** Object:  Database [Task1_DB]    Script Date: 09.09.2023 2:06:48 ******/
CREATE DATABASE [Task1_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Task1_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Task1_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Task1_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Task1_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Task1_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Task1_DB]
GO
/****** Object:  Table [dbo].[Marker]    Script Date: 09.09.2023 2:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marker](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Marker] ON 

INSERT [dbo].[Marker] ([ID], [Latitude], [Longitude]) VALUES (1, 55.75393, 37.620795)
INSERT [dbo].[Marker] ([ID], [Latitude], [Longitude]) VALUES (2, 59.9409876, 30.3129961)
INSERT [dbo].[Marker] ([ID], [Latitude], [Longitude]) VALUES (3, 55.0294979678647, 82.9194831848145)
SET IDENTITY_INSERT [dbo].[Marker] OFF
GO
USE [master]
GO
